label.file-xml-label {
    display: block;
    margin-bottom: 15px;
}

input.file-xml {
    display: block;
    margin-bottom: 15px;
}

.product-id {
    min-width: 100px;
}

.product-image {
    width: 100px;
    height: 100px;
}

.product-table th a {
    color: black;
}


