.file-upload {
    margin-top: 20px;
    margin-bottom: 20px;
}

label.file-xml-label {
    display: block;
    margin-bottom: 15px;
}

input.file-xml {
    display: block;
    margin-bottom: 15px;
}

.product-id {
    min-width: 100px;
}

.product-image {
    width: 100px;
    height: 100px;
}

.product-table th a {
    color: black;
}

.product {
    margin-top: 40px;
    text-align: center;
}

.product-title {
    font-size: 20px;
    text-align: center;
}

.product-rating {
    margin-top: 20px;
}

.product-description {
    margin-top: 20px;
}

header .nav-link {
    display: inline-block;
    margin-right: 20px;
}

.product-create-form input,
.product-create-form textarea {
    display: block;

}.product-create-form label {
    margin-top: 10px;
}

.product-create-submit,
.product-edit-submit {
    margin-top: 20px;
}

.product-image-show img {
    margin-top: 20px;
    max-width: 300px;
    max-height: 300px;
}

.product-edit-link {
    display: inline-block;
    margin-top: 20px;
    margin-right: 40px;
}

.product-edit-link a {
    text-decoration: none;
}

.product-delete-form {
    display: inline-block;
}

.product-delete-link {
    display: inline-block;
    margin-top: 20px;
}

.product-delete-link a {
    color: #FFFFFF;
    text-decoration: none;
}

.product-delete-link a:hover {
    color: #cbd5e0;
}

.product-pagination {
    margin-top: 40px;
    margin-bottom: 80px;
}

#chart {
    margin: 40px auto 0;
}

.form-error {
    color: crimson;
}
